<%= form_for @game, url: {action: "choose"} do |form| %>
  <div class="commands">
    <% (1..3).each do |idx| %>
      <div class="command">
        <p class="dungeon"><%= form.submit "CHOICE #{idx}" %></p>
      </div>
    <% end %>
  </div>
<% end %>
