<%= form_with model: @game do |form| %>
  <div class="commands">
    <% @commands.each do |key, boolean| %>
      <% if boolean %>
        <p class="dungeon command"><%= form.submit "#{key.to_s.upcase}" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>