<%= form_with model: @game do |form| %>
  <% @commands.each do |key, boolean| %>
    <% if boolean %>
      <div class="commands">
        <p class="dungeon command"><%= form.submit "#{key.to_s.upcase}" %></p>
      </div>
    <% end %>
  <% end %>
<% end %>