<%= form_with model: @game do |form| %>
  <div class="commands">
    <% @commands.each do |key, boolean| %>
      <% if boolean %>
        <div class="command">
          <p class="dungeon command"><%= form.submit "#{key.to_s.upcase}" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>