<table class="table dungeon board-table">
  <tr>
    <td><p>HP</p></td>
    <td><p>STR</p></td>
    <td><p>DEF</p></td>
    <td><p>XP</p></td>
  </tr>
  <tr>
    <td><p>❤️</p></td>
    <td><p>🔪</p></td>
    <td><p>🛡</p></td>
    <td><p>✊</p></td>
  </tr>
  <tr>
    <td><p><%= @game.hero.health %></p></td>
    <td><p><%= @game.hero.strength %></p></td>
    <td><p><%= @game.hero.defense %></p></td>
    <td><p><%= @game.hero.experience %></p></td>
  </tr>
</table>


