<% if current_user.present? %>
  <h1>Welcome, <%= current_user.name %> </h1>
  <p>Start a new game and live an exciting adventure !</p>

<% if false %>
#A voir si déjà partie en cours, reprendre dans ce cas, ou donner l'occasion de recréer à 0
<% end %>

<% else %>
  <h1>Welcome, stranger </h1>
  <p><a href="/users/sign_in">Sign in</a> to play!</p>

<% end %>
<p>Find me in app/views/home/index.html.erb</p>