@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  text-align: center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
}

footer a {
  color: blue;
}

/* Dungeon class */
.dungeon {
  color: black;
  font-family: 'Press Start 2P';
  font-size: small;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
}

